@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./base";
body {
	background: linear-gradient(114.21deg, #232323 20.08%, #000000 96.12%),
		linear-gradient(114.21deg, #ffffff 20.08%, #dfe2e4 96.12%);
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		background: url("/decor.png") 0 0 / cover no-repeat;
		width: 30%;
		height: 45%;
		z-index: -10;
	}
}

.border {
	&-bottom {
		@apply border-[0px] border-solid border-b-[1px]  border-b-[#292929];
	}
	&-right {
		@apply border-[0px] border-solid border-r-[1px] border-r-[#292929];
	}
}
